// Custom Scrollbar
.ps__thumb-y {
  background-color: #dfe0e5;
  border-radius: 4px;
  width: 5px;
}

.ps__rail-y {
  width: 12px;
}

.ps__rail-y:hover > .ps__thumb-y {
  background-color: #aaa;
  width: 8px;
}

// Ultility CSS Classes
.text-primary {
  color: $color-primary !important;
}

.text-red,
.text-error {
  color: $color-red;
  font-size: 14px;

  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }
}

.balance-btn {
    cursor: pointer;
    color: #4b8aff !important;
}

@media screen and (min-width: 992px) {
  .container {
      max-width: 80%;
  }
}

.btn-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
  margin: 0 -10px;
  a,
  button {
      margin: 10px 10px 0;
      @include media-breakpoint-down(sm) {
          margin: 10px 5px 0;
      }
  }
}