.nav-tabs {
    border: 0;
    li {
        padding-left: 1em;
        &:last-child {
            padding-left: 0;
        }
        .nav-link {
            background: transparent;
            border: 0;
            color: $color-text-gray;
            padding: .5em;
            &.active {
                font-weight: bold;
            }
        }
    }
}